<!DOCTYPE html>

<html manifest="manifest.cache">
<head>
    <!--This page contains all scripts with logic for synchronizing-->
    <script type="text/javascript" src="../javascript/common/jquery.js"></script>
    <script type="text/javascript" src="../javascript/common/utils.js"></script>
    <script type="text/javascript" src="../javascript/auth.js"></script>
    <script type="text/javascript" src="../javascript/loggly.js"></script>
    <script type="text/javascript" src="../javascript/thrift/thrift.js"></script>

    <script type="text/javascript" src="../javascript/edam/Errors_types.js"></script>
    <script type="text/javascript" src="../javascript/edam/Limits_types.js"></script>
    <script type="text/javascript" src="../javascript/edam/NoteStore_types.js"></script>
    <script type="text/javascript" src="../javascript/edam/UserStore_types.js"></script>
    <script type="text/javascript" src="../javascript/edam/Types_types.js"></script>
    <script type="text/javascript" src="../javascript/edam/UserStore.js"></script>
    <script type="text/javascript" src="../javascript/edam/NoteStore.js"></script>

    <script type="text/javascript" src="../javascript/oauth/chrome_ex_oauth.js"></script>
    <script type="text/javascript" src="../javascript/oauth/chrome_ex_oauthsimple.js"></script>

    <script type="text/javascript" src="../javascript/background.js"></script>
</head>
<body>
    <h2>Go to console to review results</h2>
</body>
</html>