<!DOCTYPE html>

<html manifest="manifest.cache">
<head>
    <!--This page contains all scripts with logic for synchronizing-->
    <script type="text/javascript" src="../javascript/common/jquery.js"></script>
    <script type="text/javascript" src="../javascript/common/utils.js"></script>
    <script type="text/javascript" src="../javascript/auth.js"></script>
    <script type="text/javascript" src="../javascript/loggly.js"></script>
    <script type="text/javascript" src="../javascript/evernote-sdk-minified.js"></script>

    <script type="text/javascript" src="../javascript/oauth/chrome_ex_oauth.js"></script>
    <script type="text/javascript" src="../javascript/oauth/chrome_ex_oauthsimple.js"></script>

    <script type="text/javascript" src="../javascript/background.js"></script>
</head>
<body>
    <h2>Go to console to review results</h2>
</body>
</html>
